header
  nav.navbar
    .menu-header
      ul.menu-list
        li
          a.logo(href='/') Logo
        li
          a(href='/lab5') LAB5
        li
          a(href='/liked') LIKED
    .menu-header-media
      input#checkbox-menu(type='checkbox')
      ul.menu-header-list
        li
          label(for='checkbox-menu')
            i.fas.fa-bars.toggle
        li
          a.logo(href='/') Logo
      .menu
        ul.menu-ul
          li
            a(href='/liked') LIKED
          li
            a(href='/lab5') LAB5