header
  ul.menu-list
    li
      a.logo(href='/') ...
    li
      a(href='/lab5') L5
    li
      a(href='/liked') 
        i.far.fa-heart.fa-lg
    li.profile
      a(href='/profile') 
        i.far.fa-user.fa-lg
