.login-block 
    p.text Вход
    input.username(type="text" placeholder="username")
    .username_alert 
    input.password(type="password" placeholder="password")
    .password_alert 
    .buttons 
        button.authorize(onclick='authorize()') Вход
        button.register(onclick='register()') Регистрация