head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title labs
    link(rel='stylesheet' href='css/login_style.css')
    link(rel='stylesheet' href='fonts/stylesheet.css')
    script(src='https://kit.fontawesome.com/767667576b.js' crossorigin='anonymous')
  
script(ttype='text/javascript' src='js/menu_highlight.js' async='')
script(ttype='text/javascript' src='js/login.js' async='')


header 
    a.logo(href='/') ...

main
    include ./modules/login_module.pug
    


