footer {
  overflow: hidden;
  position: fixed;
  bottom: -200px;
  left: 0;
  width: 100vw;
  height: 81px;
  z-index: 1;
}
footer.opened {
  bottom: 0px;
  transition: 0.2s;
}
.player {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
}
.footer-bt-container {
  padding-left: 1px;
  padding-right: 1px;
  max-width: 1100px;
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.song-slider {
  padding-left: 1px;
  padding-right: 1px;
  height: 40px;
  top: -20px;
  width: 100%;
  max-width: 1100px;
  position: absolute;
  cursor: pointer;
}
.seek-bar {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 0px;
  outline: 1px solid black;
  outline-offset: -1px;
  background: #ffffff;
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -1200px 0 0 1200px rgb(212, 0, 255);
}
.current-time,
.song-duration {
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}
.song-duration {
  right: 5px;
}
.current-time {
  left: 5px;
}

.song-info {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 30%;
  left: 60px;
  justify-content: flex-start;
  height: 100%;
}

.controls-cnt {
  max-width: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 68px;
  background-color: #000000;
}

.controls-rght {
  width: 30%;
}

.controls-rght span {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.play-btn {
  cursor: pointer;
}

.current-song-img {
  border: 1px solid white;
  outline: 1px solid white;
  outline-offset: 0px;
  position: relative;
  width: 60px;
  height: 60px;
}

.volume-bar {
  position: fixed;
  margin-left: 40px;
  -webkit-appearance: none;
  width: 100px;
  height: 7px;
  border-radius: 0px;
  border: 1px solid rgb(255, 255, 255);
  background: #000000;
  overflow: hidden;
  cursor: pointer;
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -200px 0 0 200px rgb(255, 255, 255);
}

.song-description {
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
}

#volume-bar-container {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-forward,
.fa-backward {
  cursor: pointer;
}

.fa-retweet {
  color: rgb(107, 107, 107);
}

.fa-retweet.active {
  color: rgb(255, 255, 255);
}
