* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
}

.center{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_header{
  width: 100%;
  margin-left: 10%;
  margin-bottom: 50px;
  position: relative;
  margin-top: 10px;
  font-size: 72px;
  font-weight: 800;
}

.main_header.pro {
  margin-left: 0;
}

.opt{
  font-size: 34px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
}

.empty{
  font-size: 34px;
  font-weight: 700;
}

.opt:after {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  left: -1px;
  content: "";
  display: block;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0px;
}

.opt:hover:after {
  backface-visibility: hidden;
  border-color: black;
  transition: width 210ms ease-in-out;
  width: 100%;
}

.profile_section{
  margin-left: calc(5% + 50px);
  justify-content: flex-start;
  align-items: flex-start;
}

/* .profile_options{
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
} */

.empty{
  /* margin-top: 20px; */
  margin-bottom: 50px;
}

header {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
  font-weight: 800;
  font-size: 20px;
  background-color: rgb(8, 8, 8);
  margin: 0;
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 100vh;
  opacity: 1;
  overflow-y: hidden;

  
}

header nav {
  margin-right: auto;
  padding: 0;
  height: 100%;
  width: 100%;
}

.username,
.password{
  width: 150px;
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
  margin-right: 10px;
}

body {
  font: 22px "Montserrat";
  background: rgb(255, 255, 255);
  font-weight: 600;
  color: rgb(8, 8, 8);
  font-style: normal;
}

.menu-list {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile.up{
  transition: 0.2s;
  bottom: 110px;
  position: absolute;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  bottom: 0;
  position: absolute;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.menu-list li {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  font: 16px;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-list li a,
.menu-list li a i {
  text-decoration: none;
  color: rgb(173, 173, 173);
  transition: 0.2s;
}

.menu-list li a.current{
  color: rgb(255, 255, 255);
}

.menu-list li a.current > .menu-list li a i {
  color: rgb(255, 255, 255);
}

li i.fas {
  padding: 5px;
}

li {
  overflow: hidden;
}

.logo {
  font-size: 40px;
  font-weight: 800;
  position: relative;
}

.menu-list li a:hover,
.menu-list li a i:hover{
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
.fa-heart {
  color: white;
  cursor: pointer;
}
.item .fa-heart {
  opacity: 0;
  color: black;
}

.fa-heart.active {
  color: rgb(218, 0, 0);
  opacity: 1;
}

#checkbox-menu,
.menu-header-media,
.toggle {
  display: none;
}

main {
  position: absolute;
  top: 45px;
  left: 0;
  margin-left: 50px;
  width: calc(100vw - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.items p#empty {
  position: absolute;
  top: 80%;
  width: 100vw;
  left: calc(100vw / 2 - 100px);
}

.search-line {
  padding-top: 10px;
  height: 40px;
  width: 90%;
  border-bottom: 1px solid rgb(0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
}

#search-line {
  height: 70px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 8, 8);
  font-size: 80%;
  font-weight: 500;
  border: none;
  text-align: left;
  margin-left: 20px;
  outline: none;
}

.search-line i {
  margin-left: 5px;
}

.items {
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 81px;
}

.item {
  width: 220px;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  transition: 0.2s;
}

.itemtp-container {
  position: relative;
  transition: 0.2s;
  border: 1px solid black;
  transition: 0.2s;
  overflow: hidden;
  height: 220px;
  width: 220px;
  outline: 2px solid black;
  outline-offset: -2px;
}

.itemtp-container span {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.itemtp-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.itemtp-container:hover > #wrapper img.item-img {
  opacity: 0.4;
  transition: 0.3s;
}

#wrapper {
  z-index: -10;
  overflow: hidden;
  position: absolute;
  width: 230px;
  height: 230px;
}

.item-img {
  left: -5px;
  top: -5px;
  position: relative;
  width: 100%;
  height: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  backface-visibility: visible;
  backface-visibility: hidden;
}
.itembt-container {
  overflow: hidden;
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 30px;
}

.itemtp-container .options {
  width: 100%;
}

.itembt-container .name {
  font-size: 15px;
  margin-left: 10px;
  font-weight: 600;
}

.itembt-container .artist {
  font-size: 11px;
  margin-left: 10px;
  font-weight: 600;
  color: gray;
}

.itembt-container .info {
  margin-left: 10px;
  font-size: 10px;
  color: rgb(92, 92, 92);
}

.fa-play{
  cursor: pointer;
}

.item .fa-play {
  color: rgb(0, 0, 0);
  align-self: center;
  opacity: 0;
}

.options {
  width: 100%;

  align-items: center;
  
}

.options span {
  text-align: center;
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemtp-container:hover > .options span i.fa-heart {
  opacity: 1;
}
.itemtp-container:hover > span i.fa-play {
  opacity: 1;
}

.options span i {
  margin-left: 5px;
  width: 36px;
  line-height: 36px;
  padding-bottom: 60px;
  position: relative;
  top: -15px;
  border-radius: 10px;
  transition: 0.2s;
}

.options span p{
  margin-right: 5px;
  line-height: 36px;
  margin-bottom: 60px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  position: relative;
  top: -15px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.options span i.fa-heart:hover {
  top: -25px;
  transition: 0.3s;
}

.hide {
  display: none;
}

.liked-tracks-count {
  color: white;
}

.loading_speed{
  margin-top: 200px;
}

@media screen and (max-width: 1600px) {
  .items {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1400px) {
  .items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1080px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {

  .menu-list {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main_header{
    font-size: 50px;
  }

  main{
    margin-left: 0;
    width: 100%;
  }

  .profile{
    position: relative;
  }

  .profile_section{
    margin-left: 5%;
  }

  .logo{
      top: -20px;
  }

  header {
    font-size: 20px;
    overflow-y: hidden;
    width: 100vw;
    max-width: 1100px;
    height: 40px;
  }

  header nav {
    margin-right: auto;
    padding: 0;
    max-width: 1100px;
    height: 100%;
    width: 100%;
  }

  .search-line {
      margin-top: -10px;
  }

  .options span i.fa-heart:hover {
    top: -15px;
  }

  .itemtp-container:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  #wrapper img.item-img {
    opacity: 0.8;
  }

  .itemtp-container:hover > #wrapper img.item-img {
    opacity: 0.8;
  }
  .item .fa-heart {
    opacity: 1;
  }

  .item .fa-play {
    opacity: 1;
  }

  .controls-rght span i.fa-volume-up,
  .volume-bar {
    display: none;
  }
  .controls-rght span {
    margin: 0;
  }

  .controls-rght span .fa-heart {
    position: absolute;
    margin-right: 0;
  }
  .controls-rght span .fa-retweet {
    margin-left: 5px;
  }
  .footer-bt-container {
    justify-content: space-between;
  }
  .controls-cnt {
    width: 35%;
  }
  .song-info {
    left: 50px;
  }
}

@media screen and (max-width: 860px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }
}

@media screen and (max-width: 560px) {

  .main_header{
    font-size: 40px;
    margin-bottom: 40px;
  }

  .items {
    grid-template-columns: repeat(1, 1fr);
  }
  .current-song-name,
  .current-song-info {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .main_header {
    font-size: 30px;
    margin-bottom: 20px;
    
  }

  .items{
    margin-top: 0;
  }
}

@media screen and (max-width: 350px) {
  .current-song-img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 900px) {
  .menu-header {
    display: none;
  }

  .menu-header-media {
    display: block;
  }

  .toggle {
    clear: both;
    display: block;
    text-align: center;
    line-height: 45px;
    width: 100%;
    color: rgb(201, 201, 201);
  }

  #checkbox-menu:checked ~ .menu {
    --menuLiHeight: 60px;
    --menuLiNumber: 2;
    height: calc(var(--menuLiHeight) * var(--menuLiNumber));
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition-timing-function: ease-out;
    transition: height 0.3s, transform 0.3s;
  }

  #checkbox-menu:checked ~ .menu .menu-ul {
    --menuLiHeight: 60px;
    --menuLiNumber: 2;
    height: calc(var(--menuLiHeight) * var(--menuLiNumber));
    -webkit-transition: height 0.1s, -webkit-transform 0.1s;
    transition-timing-function: ease-out;
    transition: height 0.1s, transform 0.1s;
  }

  #checkbox-menu:checked ~ .menu .menu-ul li {
    opacity: 1;
    height: var(--menuLiHeight);
    width: 90%;
    visibility: visible;
    -webkit-transition: width 0.5s, opacity 0.6s, visibility 0.1s, height 0.1s,
      -webkit-transform 0.6s;
    transition-timing-function: ease-out;
    transition: width 0.5s, opacity 0.6s, visibility 0.1s, height 0.1s,
      transform 0.6s;
  }


  #checkbox-menu:not(:checked) ~ .menu {
    height: 0px;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition-timing-function: ease-out;
    transition: height 0.3s, transform 0.3s;
  }

  #checkbox-menu:not(:checked) ~ .menu .menu-ul {
    height: 0px;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition-timing-function: ease-out;
    transition: height 0.3s, transform 0.3s;
  }

  #checkbox-menu:not(:checked) ~ .menu .menu-ul li {
    opacity: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    -webkit-transition: width 0.4s, height 2s, opacity 0.25s, visibility 0.6s,
      -webkit-transform 0.8s;
    transition-timing-function: ease-out;
    transition: width 0.4s, height 2s, opacity 0.25s, visibility 0.6s,
      transform 2s;
    transition-delay: 0.05s;
  }

  .menu-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 0px;
    padding: 0;
    margin: 0;
  }

  .menu {
    height: 0px;
    padding: 0;
    margin: 0;
  }

  .menu-ul li {
    border-top: 5px solid rgb(201, 201, 201);
    padding: auto;
    display: flex;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    height: 0px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    transition: 0.2s;
  }

  .menu-ul li a {
    width: 100%;
    text-decoration: none;
    color: rgb(201, 201, 201);
    padding: 5px;
    transition: 0.2s;
  }

  .menu-ul li button {
    text-decoration: none;
    background-color: rgb(201, 201, 201);
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 5px;
  }

  .menu-header-list {
    padding: 0;
    margin: 0;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  .menu-header-list li {
    list-style: none;
  }

  .menu-header-list li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    text-align: center;
    padding: 5px;
    overflow: hidden;
    transition: 0.2s;
  }

  .logo {
    font-weight: 800;
  }

  .menu-header-media {
    z-index: 999999;
  }
}
